.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
ImpressionMarkTest.iml
out/production/ImpressionMarkTest/com/crest/SpringerImpression.class
out/production/ImpressionMarkTest/com/crest/modal/Book.class
out/production/ImpressionMarkTest/com/crest/modal/Document.class
out/production/ImpressionMarkTest/com/crest/modal/Journal.class
out/production/ImpressionMarkTest/com/crest/modal/Ticket.class
out/production/ImpressionMarkTest/com/crest/modal/TopicType.class
out/production/ImpressionMarkTest/com/crest/service/ServiceFactory.class
out/production/ImpressionMarkTest/com/crest/service/ServiceThread.class
